@font-face {
    font-family: 'Mona Sans';
    src:
      url('/font/MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/font/MonaSans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
@font-face {
    font-family: 'Hubot Sans';
    src:
        url('/font/HubotSans/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('/font/HubotSans/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}