{{ partial "head.html" . }}

<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    
    {{ partial "sidebar.html" . }}

    <div class="content container">
        {{ .Content }}

        <div class="row" id="filterable-grid">
            {{range .Site.RegularPages}}
            <div class="col-xs-6 col-md-6 col-lg-4 
            {{ if eq .Params.group "education" }}grid-section-education{{ end }}
            {{ if eq .Params.group "software" }}grid-section-software{{ end }}
            {{ if eq .Params.group "hardware" }}grid-section-hardware{{ end }}
            {{ if eq .Params.group "career" }}grid-section-career{{ end }}">
                <a href="{{.Permalink}}" class="project-card-link">
                <div class="project-card">
                    <div class="project-card-image">
                        <img src="{{ .Params.image }}"></img>
                    </div>
                    <div class="project-card-title-container
                    {{ if eq .Params.group "education" }}project-card-title-education{{ end }}
                    {{ if eq .Params.group "software" }}project-card-title-software{{ end }}
                    {{ if eq .Params.group "hardware" }}project-card-title-hardware{{ end }}
                    {{ if eq .Params.group "career" }}project-card-title-career{{ end }}
                    ">
                        {{.Title}}
                    </div>
                </div>
                </a>
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>
