{{ partial "head.html" . }}

<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

    {{ partial "sidebar.html" . }}

    <div class="content container">
        <div class="post">
            <h1>{{ .Title }}</h1>

            {{ .Content }}

            <div class="row" id="filterable-grid">
                {{ range .Pages }}
                <div class="col-xs-12">
                    <a href="{{.Permalink}}">
                        {{.Page.Title}}
                        {{.Params.date}}
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>